body {
	background-color:black;
	color:white;
	font-family: Arial;
	margin:0;
}

.navigation {
	text-align:center;
	padding:1em 0;
}

.navigation .start-date,
.navigation .end-date {
	padding:0em 1em;
}

.navigation .start-date {
	float:left;
}

.navigation .end-date {
	float:right;
}

.navigation #next {
	margin:0 0 0 1em;
}

.navigation input[type=radio] {
	margin:0 0.4em 0 1em;
}

.chart-container {
	position:absolute;
	top:50;
	right:0;
	bottom:0;
	left:0;
}
